#now_loading {
    position: fixed;
    background-color: #000;
    top: 0px;
    left: 0px;
    opacity: 0.3;
    z-index: 100;
    width: 100%;
    height: 500px;
    /* added for show, hide loading*/
    display: none;
}

td.help_body {
    max-width: 350px;
    overflow: scroll;
}

.question_textarea {
    width: 97%;
    height: 50px;
}

.hide {
    display: none;
}
